body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 0 auto;
  padding: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 50%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list li {
  list-style: none;
}

.section {
  width: 90%;
  padding: 2.2rem;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid black;
}

.s-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img {
  width: 10rem;
  height: 10rem;
  border: 2px solid red;
}

.about-description {
  width: 50%;
  font-size: 1.3rem;
  letter-spacing: 1px;
  padding: 1rem;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid-item {
  width: 14rem;
  height: 10rem;
  background-color: black;
  color: white;
}

.contact {
  padding: 2rem;
  background-color: gray;
  width: 80%;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
}

input, textarea {
  width: 90%;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
}

textarea {
  height: 10rem;
  resize: none;
  overflow: auto;
}

label {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  padding-bottom: 0.5rem;
}

.btn {
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin-top: 2.5rem;
  background-color: rebeccapurple;
}